/* SECTION NEWSLETTER
-------------------------------------------------------------- */
.section-newsletter {
  border: 1px solid @border-color;
  padding: 29px 37px 29px;
  margin-bottom: 30px;
}
.sn-title {
  font-size: @font-size-large;
  line-height: 36px;
  line-height: 1.2;
}
.sn-desc {
  color: @muted;
}
/* SECTION NEWSLETTER -------------------------------------------------------------- */
