			</div> <!-- container -->
		</div> <!-- master-inner -->
	</main> <!-- master -->

	<footer class="footer">
		<section class="footer-inner">
			<div class="container">
				<div class="copyright">
					Thông tin Tòa soạn.   : 0123.888.0123 (HN) - 0129.233.3555 (TP HCM)
				</div> <!-- copyright -->
				<div class="credit">
					© Copyright 1997-2013 VnExpress.net, All rights reserved
				</div> <!-- credit -->
			</div> <!-- container -->
		</section> <!-- / footer-inner -->
	</footer> <!-- / footer -->
</body>
</html>