<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Document</title>
	
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="style-responsive.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/plugin.js"></script>
	<script src="js/main.js"></script>
	
</head>
<body>
<div class="toolbar">
	<div class="toolbar-inner">
		<div class="container">
			<div class="row">
				<div class="span14">
					<ul class="top-nav">
						<li><a href="">Vnexpress</a></li>
						<li><a href="">Ngôi sao</a></li>
						<li><a href="">iOne</a></li>
						<li><a href="">Game thủ</a></li>
						<li><a href="">Sendo</a></li>
						<li><a href="">Việc làm</a></li>
						<li><a href="">Ebank</a></li>
					</ul>
				</div>
				<div class="span14">
					<div class="topnote">
						 0123.888.0123 (HN) - 0129.233.3555 (TP.HCM)
					</div>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- toolbar-inner -->
</div> <!-- toolbar -->

<div class="header">
	<div class="header-inner">
		<div class="container">
			<div class="row row-header">
				<div class="span10">
			
					<h1 class="site-title">
						<a href="">Website</a>
					</h1>
				</div>
				<div class="span18">
					
				</div>
			</div>
			<div class="main-nav-wrap">
				<ul class="main-nav cf">
					<li><a href="">Xã hội</a></li>
					<li><a href="">Thế giới</a></li>
					<li><a href="">Kinh doanh</a></li>
					<li><a href="">Giải trí</a></li>
					<li><a href="">Thể thao</a></li>
					<li><a href="">Pháp luật</a></li>
					<li><a href="">Gia đình</a></li>
					<li><a href="">Khoa học</a></li>
				</ul> <!-- / main-nav -->
			</div>
		</div> <!-- / cotainer -->
	</div> <!-- / header-inner -->
</div> <!-- / header -->

<div class="master">
	<div class="master-inner">
		<div class="container">