<div class="widget widget-container">
	<div class="widget-title">Better wordpress recent comments</div>
	<ul class="bwp-rc-ulist">
		<li class="recent-comment">
			<span class="recent-comment-avatar">
				<img alt="" src="http://0.gravatar.com/avatar/6cbe89a8dd491f274c325ee3b685bf34?s=42&amp;d=mm&amp;r=g" class="avatar avatar-42 photo" height="42" width="42">
			</span>
			<span class="recent-comment-single">
			
				<span class="recent-comment-author">An</span>
				<span class="recent-comment-text"> Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce – </span> 
				<a href="%link%" title="%post_title_attr%"><strong>August 31, 2016 at 9:27 am</strong></a>
		    </span>
		</li>
		<li class="recent-comment">
			<span class="recent-comment-avatar">
				<img alt="" src="http://0.gravatar.com/avatar/6cbe89a8dd491f274c325ee3b685bf34?s=42&amp;d=mm&amp;r=g" class="avatar avatar-42 photo" height="42" width="42">
			</span>
			<span class="recent-comment-single">
				<span class="recent-comment-author">An</span>
				<span class="recent-comment-text"> Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce – </span> 
				<a href="%link%" title="%post_title_attr%"><strong>August 31, 2016 at 9:27 am</strong></a>
		    </span>
		</li>
		<li class="recent-comment">
			<span class="recent-comment-avatar">
				<img alt="" src="http://0.gravatar.com/avatar/6cbe89a8dd491f274c325ee3b685bf34?s=42&amp;d=mm&amp;r=g" class="avatar avatar-42 photo" height="42" width="42">
			</span>
			<span class="recent-comment-single">
				<span class="recent-comment-author">An</span>
				<span class="recent-comment-text"> Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce – </span> 
				<a href="%link%" title="%post_title_attr%"><strong>August 31, 2016 at 9:27 am</strong></a>
		    </span>
		</li>
	</ul><!-- bwp-rc-ulist -->
</div>