<div class="widget widget-container">
	<div class="widget-title">Pages</div>
		<ul class="bwp-rc-ulist">
			<li class="recent-comment"><span class="recent-comment-avatar">%avatar%</span><span class="recent-comment-single"><span class="recent-comment-author">%author%</span><span class="recent-comment-text"> { %excerpt% } – </span> <a href="%link%" title="%post_title_attr%"><strong>%time%</strong></a>
		    </span>
			</li>
			<li class="recent-comment">
				<span class="recent-comment-single">
					<span class="recent-comment-author">
						thaorui 
					</span>
					<span class="recent-comment-text"> 
						các nước phương tây họ yêu quý động vật gê nhỉ
					</span> 
					<a  href=""><strong>Jul 03, 7:43 AM</strong>
					</a>
				</span>
			</li><!-- recent-comment -->
			<li class="recent-comment">
				<span class="recent-comment-single">
					<span class="recent-comment-author">
						van do 
					</span>
					<span class="recent-comment-text"> 
						Bức hình đầu tiên hình như cô gái đó đã khóc vì cảm động.
					</span> 
					<a  href=""><strong>Jul 03, 7:43 AM</strong>
					</a>
				</span>
			</li><!-- recent-comment -->
		</ul><!-- bwp-rc-ulist -->
</div>