<div class="widget widget-container">
	<div class="widget-title">Recent Post</div>
	<div class="rpwe-block">
		<ul class="rpwe-ul">
			<li class="rpwe-clearfix clearfix cl">
				<a rel="bookmark" href="1-single.html"><img alt="" class="rpwe-alignleft rpwe-thumb wp-post-image" src="http://placehold.it/100x100"></a>
				<h3 class="rpwe-title">
					<a rel="bookmark" title="" href="1-single.html">Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.</a>
				</h3><time class="rpwe-time published">October 26th, 2016</time>
			</li>
			<li class="rpwe-clearfix clearfix cl">
				<a rel="bookmark" href="1-single.html"><img class="rpwe-alignleft rpwe-thumb wp-post-image" src="http://placehold.it/100x100"></a>
				<h3 class="rpwe-title">
					<a rel="bookmark" href="1-single.html">Gumbo beet greens corn soko endive gumbo gourd. </a>
				</h3><time class="rpwe-time published">October 26th, 2016</time>
			</li>
			<li class="rpwe-clearfix clearfix cl">
				<a rel="bookmark" href="1-single.html"><img class="rpwe-alignleft rpwe-thumb wp-post-image" src="http://placehold.it/100x100"></a>
				<h3 class="rpwe-title">
					<a rel="bookmark" href="1-single.html">Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato</a>
				</h3><time class="rpwe-time published">October 26th, 2016</time>
			</li>
			<li class="rpwe-clearfix clearfix cl">
				<a rel="bookmark"  href="1-single.html"><img class="rpwe-alignleft rpwe-thumb wp-post-image" src="http://placehold.it/100x100"></a>
				<h3 class="rpwe-title">
					<a rel="bookmark" href="1-single.html">Dandelion cucumber earthnut pea peanut soko zucchini.</a>
				</h3><time class="rpwe-time published">October 26th, 2016</time>
			</li>
			<li class="rpwe-clearfix clearfix cl">
				<a rel="bookmark" href="1-single.html"><img class="rpwe-alignleft rpwe-thumb wp-post-image" src="http://placehold.it/100x100"></a>
				<h3 class="rpwe-title">
					<a rel="bookmark" href="1-single.html">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon </a>
				</h3><time class="rpwe-time published">October 26th, 2016</time>
			</li>
		</ul>
	</div><!-- rpwe-block -->
</div><!-- widget -->