<div class="widget woocommerce widget_top_rated_products" id="woocommerce_top_rated_products-2">
    <h3>Top Rated Products</h3>
    <ul class="product_list_widget">
        <li>
            <a title="Red Shoes" href="">
                <img width="150" height="150" alt="" class="attachment-shop_thumbnail " src="http://demo2.woothemes.com/fashionable/files/2014/07/red-shoes-edited-150x150.jpg">Red Shoes</a>
            <div title="Rated 4.00 out of 5" class="star-rating">
                <span style="width:80%">
                    <strong class="rating">4.00</strong>out of 5</span>
            </div>
            <span class="amount">$119.00</span>
        </li>
        <li>
            <a title="Black Shoes" href="">
                <img width="150" height="150" alt="" class="attachment-shop_thumbnail " src="http://demo2.woothemes.com/fashionable/files/2014/07/Depositphotos_35049171_s-150x150.jpg">Black Shoes</a>
            <div title="" class="star-rating">
                <span style="width:60%">
                    <strong class="rating">3.00</strong>out of 5</span>
            </div>
            <span class="amount">$89.00</span>
        </li>
        <li>
            <a title="Patterned Shoes" href="">
                <img width="150" height="150" alt="patterned-shoes-edited" class="attachment-shop_thumbnail " src="http://demo2.woothemes.com/fashionable/files/2014/07/patterned-shoes-edited-150x150.jpg">Patterned Shoes</a>
            <del>
                <span class="amount">$99.00</span>
            </del>
            <ins>
                <span class="amount">$59.00</span>
            </ins>
        </li>
    </ul>
</div>
