<div class="widget widget-container widget-primary woocommerce widget_product_search" id="woocommerce_product_search-2">
    <div class="widget-title">Search</div>
    <form action="http://dev.wp/" class="woocommerce-product-search" method="get" role="search">
        <label for="woocommerce-product-search-field" class="screen-reader-text">Search for:</label>
        <input type="search" title="Search for:" name="s" value="" placeholder="Search Products…" class="search-field" id="woocommerce-product-search-field">
        <input type="submit" value="Search">
        <input type="hidden" value="product" name="post_type">
    </form>
</div>
