<div class="widget woocommerce widget_top_rated_products" id="woocommerce_top_rated_products-2">
    <div class="widget-title">Top Rated Products</div>
    <div class="widget-body">
    <ul class="product_list_widget">
        <li>
            <a title="Red Shoes" href="">
                <img alt="" class="attachment-shop_thumbnail " src="http://placehold.it/270x340">Red Shoes</a>
            <div title="Rated 4.00 out of 5" class="star-rating">
                <span style="width:80%">
                    <strong class="rating">4.00</strong>out of 5</span>
            </div>
            <span class="amount">$119.00</span>
        </li>
        <li>
            <a title="Black Shoes" href="">
                <img alt="" class="attachment-shop_thumbnail " src="http://placehold.it/270x340">Black Shoes</a>
            <div title="" class="star-rating">
                <span>
                    <strong class="rating">3.00</strong>out of 5</span>
            </div>
            <span class="amount">$89.00</span>
        </li>
        <li>
            <a title="Patterned Shoes" href="">
                <img alt="patterned-shoes-edited" class="attachment-shop_thumbnail " src="http://placehold.it/270x340">Patterned Shoes</a>
            <del>
                <span class="amount">$99.00</span>
            </del>
            <ins>
                <span class="amount">$59.00</span>
            </ins>
        </li>
    </ul>
    </div>
</div>