<div class="widget widget-container woocommerce widget_featured_products">
    <div class="widget-title">Featured Products</div>
    <ul class="product_list_widget">
        <li>
            <a class="figure2" href="">
                <img src="http://placehold.it/400x600" class="attachment-shop_thumbnail wp-post-image" alt="">
            </a>
            <div class="overhidden">
                <h6>
					<a href="">
						Váy thổ cẩm, áo ren trắng					</a>
				</h6>
                <span class="amount">890,000.00 VNĐ</span> 
            </div>
        </li>
        <li>
            <a class="figure2" href="">
                <img src="http://placehold.it/400x600" class="attachment-shop_thumbnail wp-post-image">
            </a>
            <div class="overhidden">
                <h6>
					<a href="">
						Short ren, áo pull kem					</a>
				</h6>
                <span class="amount">410,000.00 VNĐ</span> 
            </div>
        </li>
        <li>
            <a class="figure2" href="">
                <img src="http://placehold.it/400x600" class="attachment-shop_thumbnail wp-post-image">
            </a>
            <div class="overhidden">
                <h6>
					<a href="">
						Váy ren hoa					</a>
				</h6>
                <span class="amount">890,000.00 VNĐ</span> </div>
        </li>
        <li>
            <a class="figure2" href="">
                <img src="http://placehold.it/400x600" class="attachment-shop_thumbnail wp-post-image">
            </a>
            <div class="overhidden">
                <h6>
					<a href="">
						Đầm Peplum					</a>
				</h6>
                <span class="amount">800,000.00 VNĐ</span> 
            </div>
        </li>
        <li>
            <a class="figure2" href="">
                <img src="http://placehold.it/400x600" class="attachment-shop_thumbnail wp-post-image">
            </a>
            <div class="overhidden">
                <h6>
					<a href="">
						Đầm hoa nhí xanh					</a>
				</h6>
                <span class="amount">470,000.00 VNĐ</span> 
           	</div>
        </li>
    </ul>
</div>
<!-- widget_featured_products -->