<div class="woocommerce">
    <nav class="woocommerce-MyAccount-navigation">
        <ul>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                <a href="/my-account/">Dashboard</a>
            </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                <a href="/my-account/orders/">Orders</a>
            </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                <a href="/my-account/downloads/">Downloads</a>
            </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
                <a href="/my-account/edit-address/">Addresses</a>
            </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                <a href="/my-account/edit-account/">Account Details</a>
            </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                <a href="/my-account/customer-logout/">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="woocommerce-MyAccount-content">
        <p>
            Hello <strong>anluu</strong> (not anluu? <a href="http://malaymail.demo.devinition.com/my-account/customer-logout/">Sign out</a>)</p>
        <p>
            From your account dashboard you can view your <a href="http://malaymail.demo.devinition.com/my-account/orders/">recent orders</a>, manage your <a href="http://malaymail.demo.devinition.com/my-account/edit-address/">shipping and billing addresses</a> and <a href="http://malaymail.demo.devinition.com/my-account/edit-account/">edit your password and account details</a>.</p>
    </div>
</div>
<?php
add_action('woocommerce_account_dashboard',array($this,'mystyle_woo_myaccount_page'));
/**
* Admin :: Custom display woocommerce my account page
* @see myaccount/deshboard.php
* @author An Luu
*/
function mystyle_woo_myaccount_page() {
	?>
	<div class="mt-20">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<a class="box-icon" href="<?php echo esc_url( wc_get_endpoint_url( 'orders' ) ); ?>">
					<i class="ion-ios-cart"></i>
					<span>
					<?php _e('Recent Orders', TEMPLATE_NAME ); ?>
					</span>
				</a> <!-- box-icon -->
			</div> <!-- col -->
			<div class="col-md-4 col-sm-4 col-xs-12">
				<a href="<?php echo esc_url( wc_get_endpoint_url( 'edit-address' ) ); ?>" class="box-icon">
					<i class="ion-ios-navigate"></i>						
					<span><?php _e('Shipping and billing addresses', TEMPLATE_NAME ); ?></span>
				</a>
			</div> <!-- col -->
			<div class="col-md-4 col-sm-4 col-xs-12">
				<a href="<?php echo esc_url( wc_get_endpoint_url( 'edit-account' ) ); ?>" class="box-icon">
					<i class="ion-ios-person"></i>
					<span>
					<?php _e('Password and account details', TEMPLATE_NAME ); ?>
					</span>
				</a>
			</div> <!-- col -->
		</div> <!-- row -->
	</div> <!-- container -->
	<?php
}
?>