<div class="widget widget-container widget-primary yith-woocommerce-ajax-product-filter yith-woo-ajax-navigation woocommerce widget_layered_nav">
    <div class="widget-title">Dropdown</div>
    <div class="widget-body">
    <a href="#" class="yit-wcan-select-open">Filters:</a>
    <div class="yith-wcan-select-wrapper" style="z-index: -1; opacity: 0;">
        <ul class="yith-wcan-select yith-wcan ">
            <li class="chosen"><a href="http://dev.wp/shop" data-type="select">Black</a></li>
            <li><a href="http://dev.wp/shop?filter_color=black,blue" data-type="select">Blue</a></li>
            <li><a href="http://dev.wp/shop?filter_color=black,green" data-type="select">Green</a></li>
        </ul>
    </div>
    </div>
</div>
