<!-- COMMENTS -->
<div id="comments" class="comments-area">
    <h2 class="comments-title">4 thought on “Hello world!”		</h2>
    <ol class="comment-list">
        <li id="comment-1" class="comment even thread-even depth-1 parent">
            <article id="div-comment-1" class="comment-body">
                <footer class="comment-meta">
                    <div class="comment-author vcard">
                        <img alt="" src="http://2.gravatar.com/avatar/?s=42&amp;d=mm&amp;r=g" class="avatar  photo avatar-default" height="42" width="42"> <b class="fn"><a href="" rel="external nofollow" class="url">Mr WordPress</a></b> <span class="says">says:</span> 
                    </div><!-- .comment-author -->
                    <div class="comment-metadata">
                        <a href="">
                            <time datetime="">July 27, 2016 at 11:19 am </time>
                        </a>
                    </div>
                    <!-- .comment-metadata -->
                </footer>
                <!-- .comment-meta -->
                <div class="comment-content">
                    <p>Hi, this is a comment.
                        <br> To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
                </div>
                <!-- .comment-content -->
                <div class="reply">
                <a rel="nofollow" class="comment-reply-link" href="" onclick="" aria-label="Reply to Mr WordPress">Reply</a></div>
            </article>
            <!-- .comment-body -->
            <ol class="children">
                <li id="comment-39" class="comment odd alt depth-2">
                    <article id="div-comment-39" class="comment-body">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <img alt="" src="http://0.gravatar.com/avatar/6cbe89a8dd491f274c325ee3b685bf34?s=42&amp;d=mm&amp;r=g" class="avatar avatar-42 photo" height="42" width="42"> <b class="fn"><a href="http://Website" rel="external nofollow" class="url">An</a></b> <span class="says">says:</span> </div>
                            <!-- .comment-author -->
                            <div class="comment-metadata">
                                <a href="">
                                    <time datetime="2016-08-31T09:27:18+00:00">
                                        August 31, 2016 at 9:27 am </time>
                                </a>
                            </div>
                            <!-- .comment-metadata -->
                            <p class="comment-awaiting-moderation">Your comment is awaiting moderation.</p>
                        </footer>
                        <!-- .comment-meta -->
                        <div class="comment-content">
                            <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="reply"><a rel="nofollow" class="comment-reply-link" href="" aria-label="Reply to An">Reply</a></div>
                    </article>
                    <!-- .comment-body -->
                </li>
                <!-- #comment-## -->
            </ol>
            <!-- .children -->
        </li>
        <!-- #comment-## -->
        <li id="comment-40" class="comment even thread-odd thread-alt depth-1">
            <article id="div-comment-40" class="comment-body">
                <footer class="comment-meta">
                    <div class="comment-author vcard">
                        <img alt="" src="http://0.gravatar.com/avatar/6cbe89a8dd491f274c325ee3b685bf34?s=42&amp;d=mm&amp;r=g" class="avatar avatar-42 photo" height="42" width="42"> <b class="fn">An</b> <span class="says">says:</span> </div>
                    <!-- .comment-author -->
                    <div class="comment-metadata">
                        <a href="">
                            <time datetime="2016-08-31T09:27:34+00:00">
                                August 31, 2016 at 9:27 am </time>
                        </a>
                    </div>
                    <!-- .comment-metadata -->
                    <p class="comment-awaiting-moderation">Your comment is awaiting moderation.</p>
                </footer>
                <!-- .comment-meta -->
                <div class="comment-content">
                    <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
                </div>
                <!-- .comment-content -->
                <div class="reply"><a rel="nofollow" class="comment-reply-link" href="" aria-label="Reply to An">Reply</a></div>
            </article>
            <!-- .comment-body -->
        </li>
        <!-- #comment-## -->
        <li id="comment-41" class="comment odd alt thread-even depth-1">
            <article id="div-comment-41" class="comment-body">
                <footer class="comment-meta">
                    <div class="comment-author vcard">
                        <img alt="" src="http://0.gravatar.com/avatar/6cbe89a8dd491f274c325ee3b685bf34?s=42&amp;d=mm&amp;r=g" class="avatar avatar-42 photo" height="42" width="42"> <b class="fn">An</b> <span class="says">says:</span> </div>
                    <!-- .comment-author -->
                    <div class="comment-metadata">
                        <a href="">
                            <time datetime="2016-08-31T09:27:59+00:00">
                                August 31, 2016 at 9:27 am </time>
                        </a>
                    </div>
                    <!-- .comment-metadata -->
                    <p class="comment-awaiting-moderation">Your comment is awaiting moderation.</p>
                </footer>
                <!-- .comment-meta -->
                <div class="comment-content">
                    <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
                </div>
                <!-- .comment-content -->
                <div class="reply"><a rel="nofollow" class="comment-reply-link" href="" aria-label="Reply to An">Reply</a></div>
            </article>
            <!-- .comment-body -->
        </li>
        <!-- #comment-## -->
    </ol>
    <!-- .comment-list -->
    <div id="respond" class="comment-respond">
        <h2 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2016/07/27/hello-world/#respond" style="display:none;">Cancel reply</a></small></h2>
        <form action="http://dev.wp/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
            <p class="comment-form-comment">
                <label for="comment">Comment</label>
                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
            </p>
            <p class="comment-form-author">
                <label for="author">Name <span class="required">*</span></label>
                <input id="author" name="author" type="text" value="An" size="30" maxlength="245" aria-required="true" required="required">
            </p>
            <p class="comment-form-email">
                <label for="email">Email <span class="required">*</span></label>
                <input id="email" name="email" type="email" value="luubinhan1989@gmail.com" size="30" maxlength="100" aria-describedby="email-notes" aria-required="true" required="required">
            </p>
            <p class="comment-form-url">
                <label for="url">Website</label>
                <input id="url" name="url" type="url" value="" size="30" maxlength="200">
            </p>
            <p class="form-submit">
                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
            </p>
        </form>
    </div>
    <!-- #respond -->
</div>
<!-- / COMMENTS -->