<div class="account">
    <div class="container ">
        <div class="cf acc-zone">
            <div class="acc-box">
                <div class="acc-bank">
                    Vietcombank
                </div>
                <p class="acc-note">
                    Chủ tài khoản
                </p>
                <p class="acc-name">
                    Nguyễn Thanh Ty</p>
                <p class="acc-note">
                    Số TK
                </p>
                <p class="acc-num">
                    033.1000.41.7274</p>
            </div><!-- acc-box -->
            <div class="acc-box">
                <div class="acc-bank">
                    Sacombank
                </div>
                <p class="acc-note">
                    Chủ tài khoản
                </p>
                <p class="acc-name">
                    Phan Minh Toàn</p>
                <p class="acc-note">
                    Số TK
                </p>
                <p class="acc-num">
                    0600.57.345678</p>
            </div><!-- acc-box -->
            <div class="acc-box">
                <div class="acc-bank">
                    Đông Á
                </div>
                <p class="acc-note">
                    Chủ tài khoản
                </p>
                <p class="acc-name">
                    Nguyễn Thanh Ty</p>
                <p class="acc-note">
                    Số TK
                </p>
                <p class="acc-num">
                    010.232.1536</p>
            </div><!-- acc-box -->
            <div class="acc-box omega">
                <div class="acc-bank">
                    Agribank
                </div>
                <p class="acc-note">
                    Chủ tài khoản
                </p>
                <p class="acc-name">
                    Trương Anh Tài</p>
                <p class="acc-note">
                    Số TK
                </p>
                <p class="acc-num">
                    194.020.135.1334</p>
            </div><!-- acc-box -->
        </div><!-- acc-zone -->
    </div><!-- container -->
</div><!-- account -->