<li class="product">
    <a href="14-single-product.html">
        <span class="onsale">Sale!</span>
        <img alt="" class="attachment-shop_catalog " src="http://placehold.it/270x340">
        <h3>Baby Blue Shoes</h3>
        <span class="price">
            <del>
                <span class="amount">$139.00</span>
            </del>
            <ins>
                <span class="amount">$119.00</span>
            </ins>
        </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="">Add to cart</a>
</li>