<!-- CONTACT -->
<div class="contact-form">
  <section class="section section-map">
    <div class="row">
      <div id="map"></div>
      <div id="marker" data-image="images/map-marker.png"></div>
      <div class="location-link" data-latitude="10.734663" data-longitude="106.664908" data-address="Chung cu bong sao ta quang buu"></div>
    </div>
  </section>
    <div class="row">
      <div class="col-md-5">
        <div class="box match-height">          
          <h3>Our Address</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perferendis unde alias harum, expedita tempora </p>
          <h3>
            Call Us
          </h3>
          <p><a href="tel:123456789">Deserunt officiis suscipit ipsam temporibus reiciendis, hic ipsa amet.</a></p>
          <h3>
            Email Us
          </h3>
          <p>
            <a href="">contactus@gmail.com</a>
          </p>
          <h3>
            Fax
          </h3>
          <p>
            0123456789
          </p>
        </div><!-- box -->
      </div>
      <div class="col-md-7">
        <div class="box match-height">          
            <div class="form-group"><input type="text" class="wpcf7-form-control" id="exampleInputEmail1" placeholder="Name"></div>
            <div class="form-group"><input type="text" class="wpcf7-form-control" id="exampleInputPassword1" placeholder="Email"></div>
            <div class="form-group"><input type="text" class="wpcf7-form-control" id="exampleInputPassword1" placeholder="Subjcet"></div>
            <div class="form-group"><textarea name="" id="" class="wpcf7-form-control wpcf7-textarea text-area" placeholder="Message"></textarea></div>
            <input type="submit" value="Send Message" class="wpcf7-submit">
        </div> <!-- box -->
      </div><!-- col -->
    </div><!-- row -->
</div><!-- contact-form -->
<!-- END CONTACT -->