<!-- ITEM POST -->
<article class="item-post clearfix col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <figure class="the-post-thumbnail">
       <a href="1-single.html"><img src="http://placehold.it/200x200" alt=""></a>
    </figure>
    <section class="the-post-content">
        <header class="heading-post"><a href="1-single.html">Blanditiis sit ut possimus consequatur debitis debitis</a></header>
        <aside class="post-meta">
            <div class="post-date">
                <time datetime="2015-10-26" href="4-archive.html">October 26th, 2015</time>
            </div>
            <!-- post-date -->
            <div class="post-category">
                <a rel="category tag" href="4-archive.html">Uncategorized</a>
            </div>
        </aside>
        <!-- post-meta -->
        <footer class="post-excert">
            Qui Nihil cum quia illum Rem Aspernatur aperiam Earum dolor iusto aut rerum cupiditate Dolorem impedit impedit cum Ullam aut fuga et maiores perferendis perspiciatis non numquam Neque velit fugit ipsum Blanditiis animi voluptatum officiis. Et officiis sed iusto quis libero ratione vel. Culpa ... </footer>
    </section>
</article>
<!-- / ITEM POST -->