<div class="content-review">
	<div class="review-avatar">
		<div class="figure2">
			<img src="http://placeholt.it/120x120" alt="" itemprop="thumbnailUrl">
		</div>
	</div> <!-- name -->
	<div class="review-body">
		<div class="review-name">
			Dennis van Hoogendorp
		</div>
		<div class="review-content">
			<p>Praesent id diam accumsan sapien luctus eleifend. Duis a condimentum eros. Vestibulum viverra elementum mi, a vulputate augue. Sed eleifend congue augue lacinia maximus. Nam ut ante sit amet est feugiat ultricies a eu massa. </p>
			<p>
				Sed in enim porttitor, blandit quam eget, vehicula tellus. Sed eu felis luctus, interdum lorem et, mattis neque. Mauris ut ex non diam vestibulum viverra fermentum ac odio. Nunc sed dapibus est. Praesent mattis arcu eget efficitur dapibus. 
			</p>
		</div>
	</div> <!-- body -->
</div> <!-- content-review -->