<!-- SECTION FAQ -->
<section class="section section-white section-answers">
    <div class="container">
	    <!-- Title -->
	    <div class="row">
		    <div class="col-md-12">
			    <h2 class="title-section-left">Quick Answers</h2>
				<p class="title-section-details">Answers to the most frequently asked questions.</p>
			</div>
        </div>
		<!-- /Title -->

		<div class="row">
		    <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <article class="panel panel-style">
                        <header class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">How to choose the tariff<span></span></a>
                            </h4>
                        </header>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <section class="panel-body">
                            Etiam elit felis, porta ut massa in, consectetur finibus nibh. Vestibulum in efficitur velit. Proin mollis est in risus faucibus, nec finibus mauris vehicula. Duis at eleifend dui. Maecenas in dui eget erat ullamcorper dignissim nec sit amet tortor. 
                            </section>
                        </div>
                    </article>

                    <article class="panel panel-style">
                        <header class="panel-heading">
                            <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">Where to begin<span></span></a>
                            </h4>
                        </header>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <section class="panel-body">
                            Etiam elit felis, porta ut massa in, consectetur finibus nibh. Vestibulum in efficitur velit. Proin mollis est in risus faucibus, nec finibus mauris vehicula. Duis at eleifend dui. Maecenas in dui eget erat ullamcorper dignissim nec sit amet tortor. 
                            </section>
                        </div>
                    </article>

                    <article class="panel panel-style">
                        <header class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">Available payment methods<span></span></a>
                            </h4>
                        </header>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                            <section class="panel-body">
                            Etiam elit felis, porta ut massa in, consectetur finibus nibh. Vestibulum in efficitur velit. Proin mollis est in risus faucibus, nec finibus mauris vehicula. Duis at eleifend dui. Maecenas in dui eget erat ullamcorper dignissim nec sit amet tortor. 
                            </section>
                        </div>
                    </article>

                    <article class="panel panel-style">
                        <header class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">What projects can be created<span></span></a>
                            </h4>
                        </header>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                            <section class="panel-body">
                            Etiam elit felis, porta ut massa in, consectetur finibus nibh. Vestibulum in efficitur velit. Proin mollis est in risus faucibus, nec finibus mauris vehicula. Duis at eleifend dui. Maecenas in dui eget erat ullamcorper dignissim nec sit amet tortor. 
                            </section>
                        </div>
                    </article>
                </div>
            </div>
		</div>
    </div>
</section>
<!-- /SECTION FAQ -->