<!-- ACF: TEAM SECTION COLUMNS -->
<section>
	<div class="section-inner">
		<div class="container">
			<!-- Title -->
		    <div class="row">
			    <div class="col-md-12 align-center"> 
				    <h2 class="sc-title">Maak kennis met ons team</h2>				
				</div>
	        </div>
			<!-- /Title -->
			<div class="row">
				<div class="col-md-4">
					<div class="member-container">
						<div class="figure2">
							<img src="http://placehold.it/350x350" alt="">
						</div>
						<div class="member-name">
							Jan Terweij
						</div>
						<div class="member-position">
							Functie omschrijving
						</div>	
					</div> <!-- member -->
					
				</div> <!-- col -->
				<div class="col-md-4">
					<div class="member-container">
						<div class="figure2">
							<img src="http://placehold.it/350x350" alt="">
						</div>
						<div class="member-name">
							Melissa van den Heuvel
						</div>
						<div class="member-position">
							Functie omschrijving
						</div>	
					</div> <!-- member -->
					
				</div> <!-- col -->
				<div class="col-md-4">
					<div class="member-container">
						<div class="figure2">
							<img src="http://placehold.it/350x350" alt="">
						</div>
						<div class="member-name">
							Jan Terweij
						</div>
						<div class="member-position">
							Functie omschrijving
						</div>	
					</div> <!-- member -->
					
				</div> <!-- col -->
				<div class="col-md-4">
					<div class="member-container">
						<div class="figure2">
							<img src="http://placehold.it/350x350" alt="">
						</div>
						<div class="member-name">
							Melissa van den Heuvel
						</div>
						<div class="member-position">
							Functie omschrijving
						</div>	
					</div> <!-- member -->
					
				</div> <!-- col -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div>
</section>
<!-- / ACF: TEAM SECTION COLUMNS  -->