<div class="related products">
    <h2>Related Products</h2>
    <ul class="products">
        <li class="product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music first instock downloadable shipping-taxable purchasable product-type-simple">
            <a href="14-single-product.html" class="woocommerce-LoopProduct-link">
            	<img width="300" height="300" src="http://placehold.it/300x300" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" title="">
                <h3>Woo Album #1</h3>
                <span class="price">
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>9.00</span>
                </span>
            </a>
            <a rel="nofollow" href="/product/woo-album-3/?add-to-cart=83" data-quantity="1" data-product_id="83" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
        </li>
        <li class="product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music instock downloadable shipping-taxable purchasable product-type-simple">
            <a href="14-single-product.html" class="woocommerce-LoopProduct-link">
            	<img width="300" height="300" src="http://placehold.it/300x300" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" title="">
                <h3>Woo Album #1</h3>
                <span class="price">
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>9.00</span>
                </span>
            </a>
            <a rel="nofollow" href="/product/woo-album-3/?add-to-cart=83" data-quantity="1" data-product_id="83" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
        </li>
        <li class="product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music  instock featured downloadable shipping-taxable purchasable product-type-simple">
            <a href="14-single-product.html" class="woocommerce-LoopProduct-link">
            <img width="300" height="300" src="http://placehold.it/300x300" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" title="">
                <h3>Woo Album #2</h3>
                <div class="star-rating" title="Rated 4 out of 5"><span style="width:80%"><strong class="rating">4</strong> out of 5</span></div>
                <span class="price">
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>9.00</span>
                </span>
            </a>
        	<a rel="nofollow" href="/product/woo-album-3/?add-to-cart=87" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
        </li>
    </ul>
</div>
