/* WP: pager
-------------------------------------------------------------- */
.wp-pagenavi {	
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: right;
}

.wp-pagenavi a,
.wp-pagenavi span {
	display: inline-block;
	font: 12px/20px 'Poppins', sans-serif;;
	padding: 3px 10px;
}

.page {
	color: #333;
}

.pages {
}

.current {
}

.larger {
}

.nextpostslink {
}
/* WP: pager -------------------------------------------------------------- */