	
/* comments
-------------------------------------------------------------- */

div.comments{
  background: #fbfbfb;
  border: 1px solid #dbdbdb;
  padding: 15px;
  margin-bottom: 20px;
}

.comments .avatar{
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.comment-head{
  color: #999;
  font-size: 11px;
}

.comment-head .name{
  background: #B41A35;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 7px;
  color: #fff;
}

.reply{
  text-align: right;
  margin-top: 5px;
}

.comment-entry{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

.comments .children{
  padding-left: 40px;

}

.comments .children .comment-container{
  border-left: 4px solid #fbfbfb;
}

.nocomments{ margin-bottom: 0;}

.comment-respond{
  border-width: 4px 1px 1px;
  border-color: #b41a35 #dbdbdb #dbdbdb;
  border-style: solid;
  padding: 15px 15px;
  background: #fbfbfb;
}

.comment-form p{
  *zoom: 1;
}

.comment-form p:after{
  display: block;
  content: '';
  clear: both;
}

.comment-form label{
  float: left;
  width: 180px;
  margin-right: 20px;
}

.required{
  color: red;
  font-size: 11px;
}

.comment-reply-title{
  margin-bottom: 15px;
}

.comment-form-url{
  display: none;
}

.txt{
  width: 450px;
}

.comment-form textarea{
  width: 450px;
}

.form-submit{
  text-align: right;
}

.form-submit input[type="submit"]{
  background: #000;
  border: none;
  color: #fff;
  border-right: 2px solid #b41a35;
  padding: 5px 20px;
  margin-right: 17px;
}

.logged-in-as{
  margin-bottom: 15px;
}