/* BWP: Recent comment;
-------------------------------------------------------------- */

.bwp-rc-ulist{
	list-style: none;
	margin: 0;
	padding: 0;
}

.recent-comment{

}

.recent-comment-single{

}

.recent-comment-author{

}

.recent-comment-text{
	
}
/* BWP: Recent comment -------------------------------------------------------------- */