/* content-post.php
-------------------------------------------------------------- */
.item-post {
  margin-bottom: 20px;
  border-top: 1px solid #ddd;  
  padding-top: 20px;
}
* .item-post:first-child {
  padding-top: 0;
  border-top: none;
}
.heading-post {
  font-size: 1.5em;
  line-height: 1.3;
  margin-bottom: .1em;
}
.post-date {
  color: #666;
  font-size: .9em;
  display: inline-block;
}
.post-category {
  display: inline-block;
}
.post-meta {
  margin-bottom: 15px;
}
.the-post-thumbnail {
  float: left;  
  margin-right: 20px;
}
.the-post-thumbnail + .the-post-content {
  overflow: hidden;
}
.the-post-content {

}
@media (max-width: 480px) {
    .the-post-thumbnail {
        float: none;
        width: auto;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* content-post.php -------------------------------------------- */