/* content-post.php
-------------------------------------------------------------- */
.item-post.col-md-12 {
  margin-bottom: 20px;  
  padding-top: 20px;
}
* .item-post:first-child {
  padding-top: 0;
  border-top: none;
}
.heading-post {
  font-size: 18px;
  margin-bottom: .1em;
}
.post-date {
  display: inline-block;
}
.post-category {
  display: inline-block;
}
.post-meta {
  margin-bottom: 15px;
}
.the-post-thumbnail {
  float: left;  
  margin-right: 20px;
  text-align: center;
}
.the-post-thumbnail + .the-post-content {
  overflow: hidden;
}
.the-post-content {

}
@media (max-width: 480px) {
    .the-post-thumbnail {
        float: none;
        width: auto;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
#gridLayout .the-post-thumbnail {
  float: none;
  margin-bottom: 20px;
  margin-right: 0;
}
#gridLayout .item-post {
  padding-top: 0;
}
/* content-post.php -------------------------------------------- */